<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <form th:object="${userSearch}" class="form-inline">
            <select th:field="*{types}" class="form-control">
                <option value="none">전체</option>
                <option value="ADMIN,USER">관리자</option>
                <option value="USER">사용자</option>
            </select>
            <input type="text" th:field="*{search}" class="form-control" placeholder="사용자명을 입력하세요"/>
            <button type="submit" class="btn btn-primary">검색</button>
        </form>
    </div>
    <div>
        <form action="/admin" method="post" th:object="${selected}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>체크</th>
                    <th>사용자 번호</th>
                    <th>계정</th>
                    <th>권한</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="admin : ${user}">
                    <td>
                        <input type="checkbox" th:value="|${admin.id}_${admin.username}|" th:field="*{selectedUser}" />
                    </td>
                    <td th:text="${admin.id}"></td>
                    <td th:text="${admin.username}"></td>
                    <td th:if="${admin.role.equals('USER')}" th:text="${'사용자'}"></td>
                    <td th:if="${admin.role.equals('ADMIN,USER')}" th:text="${'관리자'}"></td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination nav justify-content-center">
                    <li class="page-item" th:classappend="${1 == user.pageable.pageNumber + 1} ? 'disabled' : '' ">
                        <a class="page-link" th:href="@{/admin/(page=${user.pageable.pageNumber - 1}, search=${userSearch.search}, types=${userSearch.types})}">이전</a>
                    </li>
                    <li class="page-item" th:classappend="${i == user.pageable.pageNumber + 1} ? 'active' : '' " th:each="i : ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link" th:href="@{/admin/(page=${i - 1}, search=${userSearch.search}, types=${userSearch.types})}" th:text="${i}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${user.totalPages == user.pageable.pageNumber + 1 || user.totalPages == 0} ? 'disabled' : '' ">
                        <a class="page-link" th:href="@{/admin/(page=${user.pageable.pageNumber + 1}, search=${userSearch.search}, types=${userSearch.types})}">다음</a>
                    </li>
                </ul>
            </nav>
            <input type="submit" class="btn btn-danger" value="계정 삭제" />
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>