<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <input type="hidden" id="address" name="address" value="admin">
    <nav th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <select id="types" name="types" class="form-control">
            <option value="none">전체</option>
            <option th:each="list : ${commonCodeList}" th:value="${list.commonGroup + '_' + list.code}"
                    th:text="${list.codeNameKor}">
        </select>
        <input type="text" id="search" name="search" class="form-control" placeholder="사용자명을 입력하세요"/>
        <button id="btnSearch" name="btnSearch" class="btn btn-primary" th:onclick="|dataSend()|">검색</button>
        <select id="size" name="size" class="form-control" th:onchange="|dataSend()|">
            <option th:each="list : ${sizeList}" th:value="${list.codeName}"
                    th:text="${list.codeNameKor}">
        </select>
    </div>
    <div id="viewList">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>체크</th>
                <th>사용자 번호</th>
                <th>계정</th>
                <th>권한</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="admin : ${admin}">
                <td>
                    <input type="checkbox" name="selected" th:value="|${admin.id}_${admin.username}|"/>
                </td>
                <td th:text="${admin.id}"></td>
                <td th:text="${admin.username}"></td>
                <td th:if="${admin.commonCode.codeName.equals('USER')}" th:text="${'사용자'}"></td>
                <td th:if="${admin.commonCode.codeName.equals('ADMIN,USER')}" th:text="${'관리자'}"></td>
            </tr>
            </tbody>
        </table>
        <div th:replace="fragments/nav :: nav(${admin})"/>
        <button id="btnDelete" name="btnDelete" th:onclick="|remove()|">계정 삭제</button>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="/js/script.js"></script>
<script>
    $(function() {
        dataSend();
    });

</script>
</html>