<!--<!DOCTYPE HTML>-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<!--<body>-->
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
            <select id="types" name="types" class="form-control">
                <option value="none">전체</option>
                <option th:each="list : ${commonGroupList}" th:text="${list.groupNameKor}" th:value="${list.groupCode}"/>
            </select>
            <input type="text" id="search" name="search" class="form-control"
                   placeholder="제목을 입력하세요"/>
            <button id="btnSearch" name="btnSearch" class="btn btn-primary">검색</button>
    </div>
    <div id="commonCodeList">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>코드 번호</th>
                <th>그룹 코드</th>
                <th>코드 이름</th>
                <th>코드 이름(한국어)</th>
                <th>사용여부</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="commonCode : ${commonCode}">
                <td><a th:href="@{/commonCode/{code}/update (code=${commonCode.commonGroup + '_' +commonCode.code})}" th:text="${commonCode.code}"></a></td>
                <td th:text="${commonCode.commonGroup.groupNameKor}"></td>
                <td th:text="${commonCode.codeNameKor}"></td>
                <td th:text="${commonCode.codeName}"></td>
                <td th:text="${commonCode.isUse}"></td>
            </tr>
            </tbody>
        </table>
        <nav th:if="${commonCode != null}" aria-label="Page navigation example">
            <ul class="pagination nav justify-content-center">
                <li class="page-item" th:classappend="${1 == commonCode.pageable.pageNumber + 1} ? 'disabled' : '' ">
                    <button class="page-link" th:onclick="|paging(${commonCode.pageable.pageNumber - 1})|">이전</button>
                </li>
                <li class="page-item" th:classappend="${i == commonCode.pageable.pageNumber + 1} ? 'active' : '' " th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <button class="page-link" th:onclick="|paging(${i - 1})|" th:text="${i}"></button>
                </li>
                <li class="page-item" th:classappend="${commonCode.totalPages == commonCode.pageable.pageNumber + 1 || commonCode.totalPages == 0} ? 'disabled' : '' ">
                    <button class="page-link" th:onclick="|paging(${commonCode.pageable.pageNumber + 1})|">다음</button>
                </li>
            </ul>
        </nav>
        <p th:if="${commonCode != null}" th:text="${commonCode.pageable.pageNumber}"></p>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<!-- /container -->
<!--</body>-->
<script th:inline="javascript">
    const btnSearch = document.querySelector("#btnSearch");
    const types = document.querySelector("#types");
    const search = document.querySelector("#search");

    $(function() {
        dataSend();
    });
    function dataSend() {
                let commonCodeSearch={
                    types:$(types).val(),
                    search:$(search).val()
                };
                $.ajax({
                    url: "/commonCode",
                    data: commonCodeSearch,
                    type: "POST",
                    success : function(data) {
                        $('#commonCodeList').replaceWith(data);
                    }
                });
    }

    function paging(now) {
                let commonCodeSearch={
                    page:now,
                    search:$(search).val(),
                    types:$(types).val()
                };
                $.ajax({
                    url: "/commonCode/",
                    data: commonCodeSearch,
                    type: "POST",
                    success : function(data) {
                        console.log(data);
                        $('#commonCodeList').replaceWith(data);
                    }
                });
    }

    btnSearch.addEventListener("click", dataSend);
</script>
<!--</html>-->