<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div class="container">
    <input type="hidden" id="address" name="address" value="commonCode">
    <nav th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <select id="types" name="types" class="form-control">
            <option value="none">전체</option>
            <option th:each="list : ${commonGroupList}" th:text="${list.groupNameKor}" th:value="${list.groupCode}"/>
        </select>
        <input type="text" id="search" name="search" class="form-control"
               placeholder="제목을 입력하세요"/>
        <button id="btnSearch" name="btnSearch" class="btn btn-primary" th:onclick="|dataSend()|">검색</button>
        <select id="size" name="size" class="form-control" th:onchange="|dataSend()|">
            <option th:each="list : ${sizeList}" th:value="${list.codeName}"
                    th:text="${list.codeNameKor}">
        </select>
    </div>
    <div id="viewList">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>코드 번호</th>
                <th>그룹 코드</th>
                <th>코드 이름</th>
                <th>코드 이름(한국어)</th>
                <th>사용여부</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="commonCode : ${commonCode}">
                <td><input type="button" th:onclick="|create('@{commonCode/{code}/update (code=${commonCode.commonGroup + '_' +commonCode.code})}', '공통코드 수정')|" th:value="${commonCode.code}" /></td>
                <td th:text="${commonCode.commonGroup.groupNameKor}"></td>
                <td th:text="${commonCode.codeNameKor}"></td>
                <td th:text="${commonCode.codeName}"></td>
                <td th:text="${commonCode.isUse}"></td>
            </tr>
            </tbody>
        </table>
        <div th:replace="fragments/nav :: nav(${commonCode})"/>
        <p th:if="${commonCode != null}" th:text="${commonCode.pageable.pageNumber}"></p>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
<script src="/js/script.js"></script>
<script>
    $(function() {
        dataSend();
    });
</script>
</html>