<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <form th:object="${boardSearch}" class="form-inline">
            <select th:field="*{types}" class="form-control">
                <option value="none">전체</option>
                <option value="free">자유</option>
                <option value="sports">스포츠</option>
                <option value="music">음악</option>
                <option value="movie">영화</option>
            </select>
            <input type="text" th:field="*{search}" class="form-control" placeholder="제목을 입력하세요"/>
            <button type="submit" class="btn btn-primary">검색</button>
        </form>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>글 번호</th>
                <th>분류</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성시간</th>
                <th>첨부파일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${board}">
                <td><a th:href="@{/board/{id}/update (id=${board.id})}" th:text="${board.id}"></a></td>
                <td th:text="${board.contentType}"></td>
                <td th:text="${board.title}"></td>
                <td th:text="${board.author}"></td>
                <td th:text="${board.time}"></td>
                <td th:each="file : ${board.fileList}">
                    <div th:if="${file != null}">
                        <a th:href="@{'/download/' + ${board.id} + '/' + ${fileStat.index}}" th:text="${'파일' + fileStat.index}"></a>
                    </div>
                    <div th:if="${file == null}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>